{% for field in patient_fields %}
  {% set value = patient | attribute(field) %}
  {% set norm_field = field ~ '_norm' %}
  {% set ext_norm = external | attribute(norm_field, None) %}
  {% set int_norm = internal | attribute(norm_field, None) %}
  <div class="row mb-1">
    <div class="d-flex w-100
      {% if ext_norm and int_norm and ext_norm != int_norm %}
        bg-warning-subtle border border-warning rounded px-2 py-1
      {% endif %}
    ">
      <div class="col-4"><strong>{{ field | camel_to_title }}:</strong></div>
      <div class="col-8">
        <span
          {% if ext_norm and int_norm and ext_norm != int_norm %}
            data-bs-toggle="tooltip" title="Normalized value differs!"
          {% endif %}
        >
          {{ value }}
          {% if ext_norm and int_norm and ext_norm != int_norm %}
            <span class="ms-1 text-warning">&#9888;</span>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
{% endfor %}